@import '@tiki.vn/tini-style/es/index.tcss';
@import './styles/skeleton.tcss'; 
@import './styles/grid-system.tcss';

.page {
  margin-top: 16px;
  margin-bottom: 16px;
}

.container{
  padding-left: 16px;
  padding-right: 16px;
} 